<div class="container">

  <h2>
    {{assignment.name}}
  </h2>

  <ul class="nav nav-tabs" style="cursor: pointer">
    <li id="info-tab" ng-class="{active: infoTab}">
      <a id="info-link" ng-click="showTab('infoTab')">Info</a>
    </li>
    <li id="submissions-tab" ng-class="{active: submissionsTab}">
      <a id="submissions-link" ng-click="showTab('submissionsTab')">Submissions</a>
    </li>
    <li id="repo-tab" ng-class="{active: repositoryTab}">
      <a id="repo-link" ng-click="showTab('repositoryTab')">Repository</a>
    </li>
    <li id="cont-tab" ng-class="{active: contactTab}">
      <a id="cont-link" ng-click="showTab('contactTab')">Contact</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-9">
      <div id="info" ng-show="infoTab">
        <div class="row">
          <div class="col-md-9">
            <h3>
              Brief Description
            </h3>
            <p>
              {{assignment.shortDescription}}
            </p>
          </div>
          <div class="col-md-3">
            <h3>
              Tries
            </h3>
            <p>
              {{assignment.submissions.length}} / {{assignment.numOfTries}}
            </p>
          </div>
          <hr>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-9">
            <h3>
              Instructions
            </h3>
            <p align="justify" ng-hide="isDefined(assignment.Instructions.file)">
              {{assignment.Instructions.text}}
            </p>
            <p ng-show="assignment.singleFileName">
              This is a single file assignment and it is expected that the submission contains a file named <span style="font-weight:bold">{{assignment.singleFileName}}</span> in the root of the repository.
            </p>
            <div ng-show="isDefined(assignment.Instructions.file)">
              <form action="/api/assignments/{{assignment._id}}/instructions">
                <button type="submit" class="btn btn-primary">
                  {{assignment.Instructions.file.name}}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="submissions" ng-show="submissionsTab">
        <div class="row">
          <div class="col-md-12">
            <h3>
              Submissions
            </h3>
            <table class="table table-striped">
              <tbody>
                <tr>
<!--                   <th>#</th>
                  <th>Hash ID</th> Will we have hash ids???-->
                  <th>Date</th>
                  <th>Result </th>
                  <th>Elapsed Time </th>
                </tr>
                <tr ng-repeat="submission in assignment.submissions">
<!--                   <td>1</td>
                  <td>de12873940ffg</td> -->
                  <td>{{submission.submitDate | filterDateTime}}</td>
                  <td>{{submission.finalVerdict}}</td>
                  <td>{{submission.cpuTime}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--repository-->
      <div id="repo" ng-show="repositoryTab">
        <div class="row">
          <div class="col-md-9">
            <h3>
              Project Repository
            </h3>
            <input class="form-control" id="disabledInput" type="text" value="{{getRepositoryLink()}}" disabled>
          </div>
          <div class="col-md-3"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <!-- code for the repository thingy. -->
            <ng-include src="'sourceCodeViewerTemplate'"></ng-include>
            
          </div>
        </div>
      </div>
      <!--end of repository-->
      <!--contact-->
      <div id="cont" ng-show="contactTab">
        <div class="row">
          <div class="col-md-9">
            <h3>
              Contact Professor
            </h3>
            <textarea class="form-control" id="focusedInput" rows="6" type="text" ng-model="emailMessage"></textarea>
            <br>
            <button type="button" class="btn btn-primary pull-right" ng-click="toggleConfirmSendEmailModal(emailMessage)">Send</button>
          </div>
        </div>
      </div>
      <!--end of contact-->
    </div>
    <div class="col-md-3 centered-div">
      <h4> Due Date </h4>
      <h5>{{assignment.deadline}}</h5>
      <hr>
      <h4> Score </h4>
      <h5>{{scores.studentScore}} / {{scores.totalScore}}</h5>
      <hr>
      <h4> Last Submission </h4>
      <h5 ng-hide="noSubmissions">
        {{assignment.lastSubmissionDate | filterDateTime}}
      </h5>
      <h5 ng-show="noSubmissions">
        You have no submissions.
      </h5>
      <hr>
      <button type="button" class="btn btn-primary btn-lg" ng-click="toggleSubmitModal()">
        Submit
      </button>
    </div>
  </div>
</div>

<div id="submit-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Submit Assignment</h4>
      </div>
      <div class="modal-body">
        <p>Submitting commit:</p>
        <p>6deadbeef666 | 09/25/13 14:30
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onClick="$('#submit-modal').modal('hide');">Cancel</button>
        <button type="button" class="btn btn-default">Download Source Code</button>
        <button type="button" class="btn btn-primary" ng-click="submitAssignment()">Submit</button>
      </div>
    </div>
  </div>
</div>

<div id="confirmSendEmailModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Send Email</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to send the email?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onClick="$('#confirmSendEmailModal').modal('hide');">No</button>
        <button type="button" class="btn btn-primary" ng-click="sendEmail()">Yes</button>
      </div>
    </div>
  </div>
</div>

<ng-include src="'genericErrorModalTemplate'"></ng-include>
