<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="assignment1" class="container well">
        <h3>
          My Grades
        </h3>
        <hr>
        <table class="table table-bordered table-hover text-center">
          <tr>
            <th class="text-center">Course</th>
            <th class="text-center">Cummulative Points</th>
            <th class="text-center">Number of Assignments</th>
          </tr>
          <tr ng-repeat="course in courses">
            <td>
              <a href="/#/s/course/{{course._id}}">{{course.code}} - {{course.name}}</a>
            </td>
            <td>
              {{course.userAccumulatedScore}} / {{course.courseTotalScore}}
            </td>
            <td>
              {{course.assignments.length}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
