<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="assignment1" class="container well">
        <h1>Submissions</h1>
        <hr>

        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="Filter" ng-model="q">
          </div>
        </div>
        <br>
        <table class="table table-bordered table-hover text-center">
          <tr>
          <th class="text-center" ng-click="toggleSubmissionOrder('courseName')">
            Course
            <span>
              <span ng-show="submissionPredicate === 'courseName'">
                <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
            </span>
          </th>
          <th class="text-center" ng-click="toggleSubmissionOrder('assignmentName')">
            Assignment
             <span>
               <span ng-show="submissionPredicate === 'assignmentName'">
                <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
             </span>
          </th>
          <th class="text-center" ng-click="toggleSubmissionOrder('submitDate')">
            Date Submitted
             <span>
               <span ng-show="submissionPredicate === 'submitDate'">
                <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
             </span>
          </th>
          <th class="text-center" ng-click="toggleSubmissionOrder('finalVerdict')">
            Verdict
             <span>
               <span ng-show="submissionPredicate === 'finalVerdict'">
                <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
             </span>
          </th>
          <th class="text-center" ng-click="toggleSubmissionOrder('elapsedTime')">
            Time
             <span>
               <span ng-show="submissionPredicate === 'elapsedTime'">
                <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
             </span>
          </th>
          <th class="text-center" ng-click="toggleSubmissionOrder('score')">
            Score
             <span>
               <span ng-show="submissionPredicate === 'score'">
                <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
             </span>
          </th>
          <th class="text-center" ng-click="toggleSubmissionOrder('testsPassed')">
            Test Passed/Tests
             <span>
               <span ng-show="submissionPredicate === 'testsPassed'">
                <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
             </span>
          </th>
          </tr>
          <tr ng-repeat="submission in user.submissions | filterByAttributes:q:['courseName', 'courseCode', 'assignmentName', 'submitDate', 'finalVerdict'] |orderBy:submissionPredicate:submissionReverseOrder">
            <td><a href="/#/s/course/{{submission.course._id}}">
              {{submission.courseName}}
            </a></td>
            <td><a href="/#/s/assignment/{{submission.assignment._id}}">
              {{submission.assignmentName}}
            </a></td>
            <td>{{submission.submitDate | filterDateTime}} </td>
            <td>{{submission.finalVerdict}} </td>
            <td>{{submission.elapsedTime}}</td>
            <td>{{submission.score || 0}}</td>
            <td>{{submission.testsPassed}} / {{submission.totalTestCases}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>