<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>
        {{course.name}}
      </h2>
      <h4>
        {{course.code}} - {{course.semester}} - {{course.year}}
      </h4>
    </div>
    <div class="col-md-3">
      <br>
      <div class="button-group centered-div">
        Your grade: {{scores.studentScore}} / {{scores.totalScore}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-repeat="grader in course.graders">
      {{grader.firstName}} {{grader.lastName}} -
      <a href="mailto://{{grader.email}}">{{grader.email}}</a>
      <br>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h1>Assignments</h1>
      <input type="text" class="form-control" placeholder="Filter" ng-model="qa">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">

      <table class="table table-bordered table-hover text-center">
        <tbody>
        <tr>
          <th class="text-center" ng-click="toggleOrder('name')"> Name
            <span ng-show="predicate === 'name'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
          </th>
          <th class="text-center" ng-click="toggleOrder('creationDate')"> Creation Date
             <span ng-show="predicate === 'creationDate'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
          </th>
          <th class="text-center" ng-click="toggleOrder('deadline')"> Due Date
             <span ng-show="predicate === 'deadline'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
          </th>
          <th class="text-center" ng-click="toggleOrder('numOfTestCases')"> Test Cases
             <span ng-show="predicate === 'numOfTestCases'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
          </th>
          <th class="text-center" ng-click="toggleOrder('totalScore')"> Total Score
             <span ng-show="predicate === 'totalScore'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
          </th>
          <th class="text-center" ng-click="toggleOrder('numOfSubmissions')"> Submissions
             <span ng-show="predicate === 'numOfSubmissions'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
          </th>
        </tr>
        <tr ng-repeat="assignment in course.assignments | filterByAttributes:qa:['name', 'creationDate', 'deadline'] | orderBy:predicate:reverseOrder">
          <td><a href="/#/s/assignment/{{assignment._id}}">{{assignment.name}}</a></td>
          <td>{{assignment.creationDate | filterDateTime}}</td>
          <td>{{assignment.deadline}}</td>
          <td>{{assignment.numOfTestCases}}</td>
          <td>{{assignment.totalScore}}</td>
          <td>{{assignment.numOfSubmissions}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
