<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <h1>{{pageTitle}}</h1>
        <hr>
        <div class="row">
          <div class="col-lg-9">
             <input type="text" class="form-control" placeholder="Filter" ng-model="q">
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-primary" ng-click="togglePending()">
              {{buttonMessage}}
            </button>
          </div>
        </div>
        <br>
        <table class="table table-bordered table-hover text-center">
          <tbody>
            <tr>
            <th class="text-center" ng-click="toggleOrder('name')">Assignment Title
              <span ng-show="predicate === 'name'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('courseName')">Course
              <span ng-show="predicate === 'courseName'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('deadline')">Due Date
              <span ng-show="predicate === 'deadline'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            </tr>
            <tr ng-repeat="assignment in assignmentsToShow | filterByAttributes:q:['name', 'courseName', 'courseCode'] | orderBy:predicate:reverseOrder">
              <td>
                <a href="/#/s/assignment/{{assignment._id}}">
                  {{assignment.name}}
                </a>
              </td>
              <td>
              <a href="/#/s/course/{{assignment.course._id}}">
                {{assignment.course.name}}
              </a>
              </td>
              <td>
                {{assignment.deadline}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="add-course-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Course</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Course Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
