<div class="container">
  <h2>{{user.firstName}} {{user.lastName}} | {{user.email}}</h2>

  <br>

  <div id="profile" ng-show="isProfileVisible">
    <div class="row">
      <div class="col-md-4">
        <img class="media-object dp img-circle profileImage" src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}?d=mm&s=500">
      </div>
      <div class="col-md-8">
        <form>
          <h3>Change Password</h3>
           <div class="form-group">
            <label for="oldPassword">
              Old Password
            </label>
            <input type="password" class="form-control" id="passwordInput0" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="newPassword1">
              New Password
            </label>
            <input type="password" class="form-control" id="passwordInput1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="newPassword2">
              Retype Password
            </label>
            <input type="password" class="form-control" id="passwordInput2" placeholder="Retype Password">
          </div>
          <button type="submit" class="btn btn-primary">Change</button>
        </form>
      </div>
    </div>
  </div>
  <!-- end profile -->
</div>
  <!-- end container -->
