<div class="container" style="padding-top:35px">
  <div class="row">
    <div class="col-lg-4" > 
    <a href="/#/courses">
      <div class="panel panel-info">
      <div class="panel-body">
        <h1 class="text-center">{{homeData.courses}}</h1>
      
      </div>
        <div class="panel-heading">
        <h3 class="text-center">My Courses</h3>
      </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
    <a href="/#/assignments">
      <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center">{{homeData.pendingAssignments}}</h1>
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Pending Assignments</h3>
      </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
    <a href="/#/submissions">
      <div class="panel panel-info">
      <div class="panel-body">
        <h1 class="text-center">{{homeData.pastSubmissions}}</h1>
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Past Submissions</h3>
      </div>
      </div>
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4">
    <a href="/#/account">
      <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center"> <span class="glyphicon glyphicon-user"></span> </h1>
      </div>
        <div class="panel-heading">
        <h3 class="text-center">My Profile</h3>
      </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
    <a href="/#/grades">
      <div class="panel panel-info">
      <div class="panel-body">
        
        <h1 class="text-center"> <span class="glyphicon glyphicon-list-alt"></span> </h1>
      
      </div>
        <div class="panel-heading">
        <h3 class="text-center">My Grades</h3>
      </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
    <a href="/#/logout">
      <div class="panel panel-default">
      <div class="panel-body">
        
        <h1 class="text-center"> <span class="glyphicon glyphicon-log-out"> </span> </h1>
      
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Log Out</h3>
      </div>
      </div>
      </a>
    </div>
  </div>
</div>