<!DOCTYPE html>
<div class="container">
 <div class="row padded">
 <div class="col-sm-4">
<div class="panel">
  <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
      <h3 class="centered">
        Login
      </h3>
      <form ng-submit="submit(user.email, user.password)">
        <div class="form-group">
          <label for="emailInput">
            Email Address
          </label>
          <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email">
        </div>
        <div class="form-group">
          <label for="passwordInput">
            Password
          </label>
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <div class="form-group centered">
          <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-lg btn-primary">
                Login
              </button>
            </div>
            <div class="col-sm-6">
              <button type="submit" data-toggle="modal" class="btn btn-lg btn-primary" ng-click="toggleSignUpModal()">
                Sign Up
              </button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>

<div id="signup-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" ng-model="newUser.email"></div>
          <div class="form-group">
            <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="newUser.firstName"></div>
          <div class="form-group">
            <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="newUser.lastName"></div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="newUser.password"></div>
          <div class="form-group">
            <input type="password" name="password_confirm" class="form-control" placeholder="Retype Password" ng-model="newUser.confirmPassword"></div>
            <span ng-show="newUser.password !== newUser.confirmPassword" style="color:red">
              Passwords do not match.<br>
            </span>
            <span ng-show="newUser.password && newUser.password.length < 6" style="color:red">
              Password must be at least 6 characters long.<br>
            </span>
            <span ng-show="newUser.firstName && newUser.firstName.length < 2" style="color:red">
              First name must be at least 2 characters long.<br>
            </span>
            <span ng-show="newUser.lastName && newUser.lastName.length < 2" style="color:red">
              Last name must be at least 2 characters long.<br>
            </span>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="createUser()">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<div id="signup-modal-success" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign Up Successfull</h4>
      </div>
      <div class="modal-body">
        You have signed up successfully. You can now log in with your credentials.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hideSignUpSuccessModal()">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="signup-modal-error" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign Up Error</h4>
      </div>
      <div class="modal-body">
        <span ng-repeat="message in newUser.errorMessage">
          {{message}}<br>
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hideSignUpErrorModal()">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="incorrect-password-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login Error</h4>
      </div>
      <div class="modal-body">
        Incorrect username or password. Please try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hideIncorrectPasswordModal()">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="service-unavailable-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login Error</h4>
      </div>
      <div class="modal-body">
        The service is unavailable. Please try again later.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hideServiceUnavailableModal()">OK</button>
      </div>
    </div>
  </div>
</div>
