<!DOCTYPE html>
<div class="container">
 <div class="row padded">
 <div class="col-sm-4">
<div class="panel">
  <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
      <h3 class="centered">
        Login
      </h3>
      <form ng-submit="submit(user.email, user.password)">
        <div class="form-group">
          <label for="emailInput">
            Email Address
          </label>
          <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email">
        </div>
        <div class="form-group">
          <label for="passwordInput">
            Password
          </label>
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <div class="form-group centered">
          <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-lg btn-primary">
                Login
              </button>
            </div>
            <div class="col-sm-6">
              <button type="submit" data-toggle="modal" class="btn btn-lg btn-primary" ng-click="toggleSignUpModal()">
                Sign Up
              </button>
            </div>
          </div>
          <hr>
          <p>
            <a href="#">Forgot Password?</a> | <a href="#">Subscribe a School</a>
          </p>
        </div>
      </form>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>

<div id="signup-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" ng-model="newUser.email"></div>
          <div class="form-group">
            <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="newUser.firstName"></div>
          <div class="form-group">
            <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="newUser.lastName"></div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="newUser.password"></div>
          <div class="form-group">
            <input type="password" name="password_confirm" class="form-control" placeholder="Retype Password" ng-model="newUser.confirmPassword"></div>
            <span ng-show="newUser.password !== newUser.confirmPassword" style="color:red">Passwords do not match</span>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="createUser()">Sign Me Up!</button>
      </div>
    </div>
  </div>
</div>
