<div class="container">

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Panda Code Reviews</h1>
    <p class="lead">Welcome to Panda Code Reviews. Panda Code Reviews is a free cloud application for reviewing and grading students’ code for computer science assignments written in Java built by Team Aguacate.</p>
  </div>

  <hr>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <center>
      <button type="button" class="btn btn-default btn-info btn-circle btn-xl dp " disabled><i class="glyphicon glyphicon-cloud-upload"></i></button>
      	<h2>Git Repositories</h2>
      </center>
      <p align="justify">Panda integrates the use of repositories for assignments submissions. When there is a new assignment, Panda automatically generates a git repository for hosting the student's code. Submissions will be via git, so that professors do not need to worry about having a lot of assignments in their emails.</p>
    </div>
    <div class="col-lg-4">
    	<center>
    		<button type="button" class="dp btn btn-default btn-circle btn-xl" disabled><i class="glyphicon glyphicon-tasks"></i></button>
    		<h2>Courses and Assignments</h2>
    	</center>
      <p align="justify">Professors can create courses. They can create assignments and design test cases that are automatically executed by Panda at the moment when a student submits his/her code.</p>
   </div>
    <div class="col-lg-4">
    	<center>
    		<button type="button" class="dp btn btn-default btn-info btn-circle btn-xl" disabled><i class="glyphicon glyphicon-ok"></i></button>
      	<h2>Automatic Grading</h2>
      </center>
      <p align="justify">When a student submits an assignment, Panda automatically produces a code quality report and grades the assignment based on the test cases. The grade is not posted until the grader approves it, so the grade can be overwritten if desired.</p>
    </div>
  </div>

  <hr>

  <div class="row">
  	<center><h1>Team Aguacate</h1></center>
  	<div class="col-lg-4">
      <center><h2>Daniel</h2></center>
      <img class="media-object dp img-circle profileImage" src="http://www.gravatar.com/avatar/{{ 'daniel.santiago5@upr.edu' | gravatar }}?d=mm&s=500">
    </div>
    <div class="col-lg-4">
      <center><h2>Samuel</h2></center>
      <img class="media-object dp img-circle profileImage" src="http://www.gravatar.com/avatar/{{ 'samus250@gmail.com' | gravatar }}?d=mm&s=500">
   </div>
    <div class="col-lg-4">
    	<center><h2>Nelian</h2></center>
      <img class="media-object dp img-circle profileImage" src="http://www.gravatar.com/avatar/{{ 'nelian.colon@upr.edu' | gravatar }}?d=mm&s=500">
  </div>

</div> <!-- /container -->
