<div class="container special">
  <!-- Jumbotron -->
  <div class="jumbotron padded">
  	<br>
    <h1 id="title" style="letter-spacing: 0.05em; font-weight: 300; font-family: 'Raleway', sans-serif; line-height: 112px;"><span>P</span>anda <span>C</span>ode <span>R</span>eviews</h1>
    <img src="http://mattwilsonmd.com/assets/img/waves.jpg" width="100%"/>
    <p class="lead">Welcome to Panda Code Reviews. 
    Panda Code Reviews is a free cloud application built by Team Aguacate for reviewing and grading students’ code for computer science assignments written in Java.</p>
  </div>

  
  <div class="padded2">
    <hr>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
        <br>
        <br>
        <center>
          <button type="button" class="btn btn-default btn-primary btn-circle btn-xl dp" disabled><i class="glyphicon glyphicon-cloud-upload" ></i></button>
        </center>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <br>
        <br>
        <center>
      	 <h2>Git Repositories</h2>
      	 <br>
        </center>
        <p align="justify">Panda integrates the use of repositories for assignments submissions. Panda automatically generates a git repository for each assignment for hosting the student's code.</p>
        <br>
        <br>
      </div>
   </div>
   <hr>
   
   <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
    	<center>
    		<h2>Courses and Assignments</h2>
    	</center>
      <p align="justify">Professors can create courses. They can create assignments and design test cases that are automatically executed by Panda at the moment when a student submits his/her code.</p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
    	<center>
    		<button type="button" class="btn btn-default btn-circle btn-xl dp" disabled><i class="glyphicon glyphicon-list"></i></button>
    	</center>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
    	<center>
    		<button type="button" class="dp btn btn-default btn-primary btn-circle btn-xl" disabled><i class="glyphicon glyphicon-ok"></i></button>
    	</center>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
    	<center>
      	<h2>Automatic Grading</h2>
      </center>
      <p align="justify">When a student submits an assignment, Panda automatically produces a code quality report and grades the assignment based on the test cases.</p>
    </div>
  </div>

  <hr>
</div>


<div class="row padded2">
 	<center><h1>Team Aguacate</h1></center>
  	<div class="col-lg-4">
      <center><h2>Daniel</h2></center>
      <img class="media-object dp img-circle profileImage" src="http://www.gravatar.com/avatar/{{ 'daniel.santiago5@upr.edu' | gravatar }}?d=mm&s=500">
    </div>
    <div class="col-lg-4">
      <center><h2>Samuel</h2></center>
      <img class="media-object dp img-circle profileImage" src="http://www.gravatar.com/avatar/{{ 'samus250@gmail.com' | gravatar }}?d=mm&s=500">
    </div>
    <div class="col-lg-4">
    	<center><h2>Nelian</h2></center>
      <img class="media-object dp img-circle profileImage" src="http://www.gravatar.com/avatar/{{ 'nelian.colon@upr.edu' | gravatar }}?d=mm&s=500">
    </div>
  </div> 
</div><!-- /container -->
