<div class="container" style="padding-top:35px">
  <div class="row">
    <div class="col-lg-4" > 
    <a href="/#/a/courses">
      <div class="panel panel-info">
      <div class="panel-body">
        <h1 class="text-center">{{user.courses.length}}</h1>
      
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Courses</h3>
      </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
    <a href="/#/a/assignments">
      <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center">{{user.assignments.length}}</h1>
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Assignments</h3>
      </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
    <a href="/#/a/submissions">
      <div class="panel panel-info">
      <div class="panel-body">
        <h1 class="text-center">{{user.submissions.length}}</h1>
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Submissions</h3>
      </div>
      </div>
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4">
    <a href="/#/account">
      <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center"> <span class="glyphicon glyphicon-user"></span> </h1>
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Profile</h3>
      </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
    <a href="/#/a/grades">
      <div class="panel panel-info">
      <div class="panel-body">
        
        <h1 class="text-center"> <span class="glyphicon glyphicon-user"></span> </h1>
      
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Users</h3>
      </div>
      </div>
      </a>
    </div>

    <div class="col-lg-4">
    <a href="/#/logout">
      <div class="panel panel-default">
      <div class="panel-body">
        
        <h1 class="text-center"> <span class="glyphicon glyphicon-log-out"> </span> </h1>
      
      </div>
        <div class="panel-heading">
        <h3 class="text-center">Log Out</h3>
      </div>
      </div>
      </a>
    </div>
  </div>
</div>