<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
      <h1>
          Assignments
        </h1>
        <hr>
        <div class="row">
  <div class="col-lg-2">
  
  </div>
  <div class="col-lg-4">
  </div>
  <div class="col-lg-6">
    <input type="text" class="form-control" placeholder="Filter" ng-model="q">
  </div><!-- /.col-lg-3 -->
</div><!-- /.row -->

<br>

        <table class="table table-bordered table-hover text-center" >
          <tbody>
          <tr>
            <th class="text-center" ng-click="toggleOrder('name')">
              Name
              <span ng-show="predicate === 'name'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('courseCode')">
              Course
               <span ng-show="predicate === 'courseCode'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('graderName')">
              Professor
               <span ng-show="predicate === 'graderName'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('creationDate')">
              Creation Date
               <span ng-show="predicate === 'creationDate'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('deadline')">
              Due Date
               <span ng-show="predicate === 'deadline'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('numOfTestCases')">
              Test Cases
               <span ng-show="predicate === 'numOfTestCases'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('totalScore')">
              Total Score
               <span ng-show="predicate === 'totalScore'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('numOfSubmissions')">
              Submissions
               <span ng-show="predicate === 'numOfSubmissions'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
          </tr>
          <tr ng-repeat="assignment in assignments | filterByAttributes:q:['name', 'deadline', 'courseCode'] | orderBy:predicate:reverseOrder">
            <td>
              <a href="/#/a/assignment/{{assignment._id}}">{{assignment.name}}</a>
            </td>
            <td>
              <a href="/#/a/course/{{assignment.course._id}}">
                {{assignment.courseCode}}
              </a>
            </td>
            <td>
              {{assignment.course.graderName}}
            </td>
            <td>
              {{assignment.creationDate | filterDateTime}}
            </td>
            <td>
              {{assignment.deadline | filterDateTime}}
            </td>
            <td>
              {{assignment.numOfTestCases}}
            </td>
            <td>
              {{assignment.totalScore}}
            </td>
            <td>
              {{assignment.numOfSubmissions}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-include src="'createAssignmentModalTemplate'"></ng-include>
<ng-include src="'genericErrorModalTemplate'"></ng-include>