/**
 * CSS file for the account page.
 */

.profileImage {
  max-width: 100%;
}

.badgeImage {
  width: 150px;
  margin-left: 100px;
}

body {
  padding-top: 50px;
}

.p-ssh {
  word-wrap: break-word;
}

.media
{
  /*box-shadow:0px 0px 4px -2px #000;*/
  margin: 20px 0;
  padding:30px;
}
.dp
{
  border:10px solid #eee;
}
