/**
 * CSS file for the account page.
 */

.profileImage {
  max-width: 100%;
}

.badgeImage {
  width: 150px;
  margin-left: 100px;
}

body {
  padding-top: 50px;
}

.p-ssh {
  word-wrap: break-word;
}
