/* Custom CSS for courses-prof.html */

body {
  padding-top: 50px;
}

.table {
  background-color: white;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: lightblue;
}

.affix-container {
  top: 70px;
  position: fixed;
}

.add-button {
  width: 253px;
}