/* CSS file for the student's home view. */

body {
  padding-top: 100px;
  background-color: white;
}

.table {
  background-color: white;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: lightblue;
}

.sidebar {
  width: 253px;
}

.sidebar > li:hover {
  background-color: lightblue;
}

.affix-container {
  top: 70px;
  position: fixed;
}

.add-button {
  width: 253px;
}

.panel-default > .panel-heading {
  background-color: #E0E0E0;
}
