<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h2>
        {{assignment.name}}
      </h2>

      <ul class="nav nav-tabs" style="cursor: pointer">
        <li id="info-tab" ng-class="{active: infoTab}">
          <a id="info-link" ng-click="showTab('infoTab')">Info</a>
        </li>
        <li id="submissions-tab" ng-class="{active: submissionsTab}">
          <a id="submissions-link" ng-click="showTab('submissionsTab')">Submissions</a>
        </li>
        <li id="cases-tab" ng-class="{active: testCasesTab}">
          <a id="cases-link" ng-click="showTab('testCasesTab')">Test Cases</a>
        </li>
      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-md-9">

      <div id="info" ng-show="infoTab">

        <div class="row">
          <div class="col-md-12">
            <h3>
              Description
            </h3>
            <p align="justify">
              {{assignment.shortDescription}}
            </p>
          </div>
          <hr>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>
              Instructions
            </h3>
            <p align="justify" ng-hide="isDefined(assignment.Instructions.file)">
              {{assignment.Instructions.text}}
            </p>
            <div ng-show="isDefined(assignment.Instructions.file)">
              <form action="/api/assignments/{{assignment._id}}/instructions">
                <button type="submit" class="btn btn-primary">
                  {{assignment.Instructions.file.name}}
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div id="submissions" ng-show="submissionsTab">

        <br>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Filter" ng-model="qsub">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">
            
            <table class="table table-bordered table-hover text-center">
              <tr>
                <th class="text-center">
                  Details
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('student')">
                  Student
                  <span ng-show="submissionPredicate === 'student'">
                    <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                  </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('submitDate')">
                  Date Submitted
                  <span ng-show="submissionPredicate === 'submitDate'">
                    <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                  </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('verdict')">
                  Verdict
                  <span ng-show="submissionPredicate === 'verdict'">
                    <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                  </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('elapsedTime')">
                  Time
                  <span ng-show="submissionPredicate === 'elapsedTime'">
                    <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                  </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('score')">
                  Score
                  <span ng-show="submissionPredicate === 'score'">
                    <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                  </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('tests')">
                  Test Passed/Tests
                  <span ng-show="submissionPredicate === 'tests'">
                    <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                  </span>
                </th>
              </tr>
              <tr ng-repeat="submission in assignment.submissions | orderBy:submissionPredicate:submissionReverseOrder | filter:qsub">
                <td><button class="btn btn-link" ng-click="showDetails(submission)"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                <td>{{submission.user.firstName}} {{submission.user.lastName}}</td>
                <td>{{submission.submitDate | filterDateTime}}</td>
                <td>{{submission.finalVerdict}}</td>
                <td>{{submission.elapsedTime}}</td>
                <td>
                  <button class="btn btn-link" ng-click="(submission.canEditScore) ? toggleEditScoreModal(submission) : ''">
                    {{submission.score}}/{{submission.totalScore}}
                  <span class="glyphicon glyphicon-pencil" ng-show="submission.canEditScore"></span>

                  </button>
                </td>
                <td>{{submission.acceptedTestCases}}/{{submission.totalTestCases}}</td>
              </tr>
            </table>

          </div>
        </div>

      </div>

      <!-- Test Cases-->
      <div id="cases" ng-show="testCasesTab">
        <div class="row">
          <div class="col-md-12">

            <br>

            <div class="well" ng-repeat="testCase in assignment.TestCases">

              <div class="row">
                <div class="col-md-10">
                  <h3>
                    Test Case #{{$index+1}}
                  </h3>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-default" ng-click="toggleRemoveTestCaseModal(testCase._id)">
                    Remove <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>


              <table class="table table-bordered">
                <tr>
                  <td>Type: {{testCase.type}}</td>
                  <td>Time Limit: {{testCase.timeLimit || 10}} seconds</td>
                  <td>Memory Limit: {{testCase.memLimit || 32768}} KB</td>
                </tr>
              </table>
              
              <hr>

              <div class="panel panel-default" ng-hide="testCase.type === 'I/O'">
                <div class="panel-heading">
                  <h3 class="panel-title">Tester File</h3>
                </div>

                <div class="panel-body">
                  <button type="button" class="btn btn-primary btn-sm" >
                    {{testCase.resource.tester.name}}
                  </button>
                </div>
              </div>
          

              <div class="panel panel-default" ng-show="testCase.type === 'I/O'">
                <div class="panel-heading">
                  <h3 class="panel-title">Test Input</h3>
                </div>

                  <textarea class="form-control" rows="5">{{testCase.resource.input}}</textarea>
              </div>

              <div class="panel panel-default" >
                <div class="panel-heading">
                  <h3 class="panel-title">Expected Output</h3>
                </div>
                  <textarea class="form-control" rows="5">{{testCase.resource.output}}</textarea>
              </div>

            </div>

          </div>
        </div>
      </div> 

    </div>

    <div class="col-md-3 centered-div">

      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-info" ng-click="toggleEditAssignmentModal()">
          Edit
        </button>
        <button type="button" class="btn btn-primary" ng-click="toggleTestCaseModal()">
          Add Test Case
        </button>
      </div>
      <br>

      <br>
      <h4>Due Date</h4>
      <h5>{{assignment.deadline}}</h5>
      
      <br>
      <h4>Total Score</h4>
      <h5>{{assignment.totalScore}}</h5>

      <br>
      <h4>Submissions</h4>
      <h5>{{assignment.submissions.length}}</h5>

      <br>
      <h4>Available Tries</h4>
      <h5>{{assignment.numOfTries}}</h5>

      </div>
    </div>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="addTestCaseModal" tabindex="-1" role="dialog" aria-labelledby="addTestCaseModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">Add Test Case</h4>
      </div>
      <div class="modal-body">
        <form role="form">

        <!-- Text input-->
<!--         <div class="form-group">
          <label class="control-label" for="course">Course</label>
          <input id="course" name="course" class="form-control" type="text"
            disabled value="{{assignment.course.code}} - {{assignment.course.name}}">
        </div> -->

        <!-- Text input-->
        <div class="form-group">
          <label class="control-label" for="testType">Type</label>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="option1" value="I/O" ng-model="newTestCase.type">
              Input / Output (I/O)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="option2" value="Exec" ng-model="newTestCase.type">
              Executable (Exec)
            </label>
          </div>      
        </div>

        <!-- Score -->
        <div class="form-group">
          <label class="control-label" for="score">Score</label>
          <input id="score" name="score" placeholder="5" class="form-control" type="number" ng-model="newTestCase.score">
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="control-label" for="timeLimit">Time Limit (Seconds)</label>
          <input id="timeLimit" name="timeLimit" placeholder="5" class="form-control" type="number" ng-model="newTestCase.timeLimit">
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="control-label" for="memoryLimit">Memory Limit (Kilobytes)</label>
          <input id="memoryLimit" name="memoryLimit" placeholder="1024" class="form-control" type="number" ng-model="newTestCase.memLimit">
        </div>

        <!-- I/O Type -->
        <div ng-show="newTestCase.type === 'I/O'">
          <div class="form-group">
            <label class="control-label" for="testInput">Test Input</label>
            <div class="controls">
               <input id="testInputFile" name="testInputFile" class="input-file" type="file" ng-file-select="onTestInputFileSelect($files)" ng-model="newTestCase.testInputFileSelection">                 
              <textarea class="form-control" id="testInput" name="testInput" ng-model="newTestCase.testInputText"></textarea>
            </div>
          </div>
        </div>

        <!-- Exec Type -->
        <div ng-hide="newTestCase.type === 'I/O'">
          <div class="form-group">
            <label class="control-label" for="testInput">Tester File</label>
            <div class="controls">
               <input id="testerFile" name="testerFile" class="input-file" type="file" ng-file-select="onTesterFileSelect($files)" ng-model="newTestCase.testerFileSelection">                 
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="testOutput">Expected Output</label>
          <div class="controls">
             <input id="testOutputFile" name="testOutputFile" class="input-file" type="file" ng-file-select="onTestOutputFileSelect($files)" ng-model="newTestCase.testOutputFileSelection">                 
            <textarea class="form-control" id="testOutput" name="testOutput" ng-model="newTestCase.testOutputText"></textarea>
          </div>
        </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancelCreateTestCase()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="createTestCase(newTestCase)">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="editAssignmentModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle\">Edit Assignment</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <!-- Textarea -->
          <div class="form-group">
            <label class="control-label" for="assgnmentDescription">Description</label>
            <div class="controls">                     
              <textarea class="form-control" id="assgnmentDescription" name="assgnmentDescription" placeholder="Description" ng-model="assignment.shortDescription"></textarea>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="assignmentDeadline">Deadline</label>

            <div id="deadlinePicker" class="input-group date">
              <input class="form-control" type="text" readonly="">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="toggleDatePicker()"></i></span>
            </div>

          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="assignmentNumOfTries">Tries</label>
            <div class="controls">
              <input class="form-control" id="assignmentNumOfTries" name="assignmentNumOfTries" placeholder="1" required="" type="text" ng-model="assignment.numOfTries">
              
            </div>
          </div>

          <!-- File Button --> 
          <div class="form-group">
            <label class="control-label" for="assignmentInstructions">Instructions File</label>
            <div class="controls">
              <input id="assignmentInstructions" name="assignmentInstructions" class="input-file" type="file" ng-file-select="onInstructionsFileSelect($files)">
            </div>
          </div>

          <hr>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancelEditAssignment()">Cancel</button>
            <button type="button" class="btn btn-primary"
            ng-click="editAssignment()">Save Changes</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="removeTestCaseModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Remove Test Case</h4>
      </div>
      <div class="modal-body">
        <span>
          Are you sure you want to remove this test case?<br>
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cancelRemoveTestCase()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="removeTestCase()">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editScoreModal" tabindex="-1" role="dialog" aria-labelledby="editCourseModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">Edit Submission Score</h4>
      </div>
      <div class="modal-body">
        <form>

        <div class="form-group">
          <label class="control-label" for="score">Score</label>
          <input id="score" name="score" class="form-control" type="number" ng-model="editSubmissionScore">
        </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="hideEditScoreModal()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="editScore(editSubmissionScore)">Edit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
  <div class="modal-dialog" style="width: 75%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p style="font-weight:bold">Compile Info</p>
            <p>Status: {{detailSubmission.compile.status}}</p>
            <p>Time: {{detailSubmission.compile.time}}</p>
            <textarea ng-show="detailSubmission.compile.error" class="form-control" rows="6" type="text" disabled>{{detailSubmission.compile.error}}</textarea>
            <hr>
            <p style="font-weight:bold">Test Cases Results</p>
            <table id="testsTable" class="table table-bordered table-hover text-center">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Run Class</th>
                <th class="text-center">Status</th>
                <th class="text-center">Elapsed Time</th>
                <th class="text-center">Memory Usage</th>
                <th class="text-center">CPU Usage</th> 
              </tr>
              <tr ng-repeat="test in detailSubmission.tests">
                <td>{{$index+1}}</td>
                <td>{{test.mainClassName}}</td>
                <td>
                  <div ng-show="test.result.status === 'Runtime Exception'"><button class="btn btn-link" ng-click="showStackTrace(test.result.stackTrace, $index)">{{test.result.status}}</button></div>
                  <div ng-hide="test.result.status === 'Runtime Exception'">{{test.result.status}}</div>
                </td>
                <td>{{test.result['elapsed time']}}</td>
                <td>{{test.result['memory usage']}}</td>
                <td>{{test.result['cpu usage']}}</td>
              </tr>
            </table>
            <hr>
            <p style="font-weight:bold">Source Code</p>
            <button class="btn btn-primary" ng-click="showSourceModal(detailSubmission.repo.id)">View Source Code</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hideDetailModal()">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="stackTraceModal" tabindex="-1" role="dialog" aria-labelledby="stackTraceModal" aria-hidden="true">
  <div class="modal-dialog" style="width: 75%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">Stack Trace</h4>
      </div>
      <div class="modal-body">
        <textarea id="stackTraceBlock" class="form-control" rows="20" type="text" disabled>{{currStackTrace}}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hidestackTraceModal()">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="sourceCodeModal" tabindex="-1" role="dialog" aria-labelledby="sourceCodeModal" aria-hidden="true">
  <div class="modal-dialog" style="width: 75%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">Source Code Viewer</h4>
      </div>
      <div class="modal-body">
        <ng-include src="'sourceCodeViewerTemplate'"></ng-include>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hideSourceCodeModal()">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<ng-include src="'genericErrorModalTemplate'"></ng-include>
