<div class="container">

  <h2>
    Assignment Name
  </h2>

  <ul class="nav nav-tabs">
    <li id="info-tab" class="active">
      <a id="info-link" href="#">Info</a>
    </li>
    <li id="submissions-tab" class="">
      <a id="submissions-link" href="#">Submissions</a>
    </li>
    <li id="cases-tab" class="">
      <a id="cases-link" href="#">Test Cases</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-9">
      <div id="info" style="display: block;">
        <div class="row">
          <div class="col-md-12">
            <h3>
              Description
            </h3>
            <p>
              <p>
              These are some lengthy instructions that the professor added so that the
              students know what they have to do.&nbsp;
            </p>
            <p align="justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc diam nisl,
              scelerisque eget bibendum at, consectetur vitae justo. Quisque quis nulla
              nisl. Donec at leo vitae justo fermentum suscipit eu sit amet quam. Aenean
              at rutrum sapien. Sed quis ipsum quis odio auctor cursus sed vitae felis.
              Vivamus feugiat diam nisl, in lacinia neque sollicitudin in. Vivamus commodo
              metus eu nibh ultricies viverra. Phasellus tristique pharetra tortor, vel
              rhoncus metus lobortis sit amet. Donec rhoncus feugiat tellus sed tincidunt.
            </p>
            <p align="justify">
              Phasellus dapibus libero tempus, ornare sem et, elementum leo. Ut eget
              nibh accumsan, malesuada arcu sit amet, aliquet sem. Fusce malesuada lectus
              sed volutpat interdum. Mauris commodo nulla et metus dictum rhoncus. Donec
              a congue arcu. Cras hendrerit elit nec libero aliquet, ut volutpat urna
              accumsan. Donec ornare adipiscing viverra. Suspendisse hendrerit quam vel
              dictum eleifend. Vestibulum in tortor sed turpis faucibus tincidunt a eu
              arcu. Sed fringilla dapibus augue, nec consequat turpis sagittis sit amet.
              Sed ut urna at orci lobortis tincidunt. Cras varius viverra eros et tincidunt.
              Aenean imperdiet laoreet congue. Duis id lacinia dui. Pellentesque egestas
              dui metus. Pellentesque luctus vel magna ac scelerisque.
            </p>
            </p>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-9">
            <h3>
              Instructions
            </h3>

            <button type="button" class="btn btn-primary" >
              Download
            </button>            
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h3>
              Comments
            </h3>
            <p>
              Content
            </p>
          </div>
        </div>
      </div>

      <div id="submissions" style="display: none;">
        <div class="row">
          <div class="col-md-12">
            <h3>
              Submissions
            </h3>
            
            <table class="table table-bordered table-hover text-center">
              <tbody>
                <tr>
                  <th class="text-center">
                    Hash ID
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </th>
                  <th class="text-center">
                    Student
                     <span class="glyphicon glyphicon-chevron-up"></span>
                  </th>
                  <th class="text-center">
                    Date Submitted
                     <span class="glyphicon glyphicon-chevron-down"></span>
                  </th>
                  <th class="text-center">
                    Verdict
                     <span class="glyphicon glyphicon-chevron-up"></span>
                  </th>
                  <th class="text-center">
                    Time
                     <span class="glyphicon glyphicon-chevron-down"></span>
                  </th>
                  <th class="text-center">
                    Score
                     <span class="glyphicon glyphicon-chevron-down"></span>
                  </th>
                  <th class="text-center">
                    Test Passed/Tests
                     <span class="glyphicon glyphicon-chevron-up"></span>
                  </th>
                </tr>

                <tr>
                  <td>
                    
                  </td>
                  <td>
                   
                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                  <td>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Test Cases-->
      <div id="cases" style="display: none;">
        <h3> Test Cases </h3>
        <hr>

        <div class="row">
          <div id="test1" class="well">
            <h3>
              Test Case #1 | Type
            </h3>
            <br>
            <hr>
        
            If executable: 
            <br>
            fileName 
        
            <button type="button" class="btn btn-primary" >
              Download
            </button>
            <hr>

            If I/O:

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Expected Input</h3>
              </div>

              <div class="panel-body" style="overflow:scroll; max-height:100px">
                Input
                <br>
                I
                <br>
                can
                <br>
                scroll
              </div>
            </div>
          <hr>
          <div class="panel panel-default" >
            <div class="panel-heading">
              <h3 class="panel-title">Expected Output</h3>
            </div>
            <div class="panel-body" style="overflow:scroll; max-height:100px">
              Output
              <br>
              That's
              <br>
              how
              <br>
              we
              <br>
              scroll.
            </div>
          </div>
        </div>
      </div>
    </div>
      
    </div>
    <div class="col-md-3 centered-div">
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-info" >
          Edit
        </button>
        <button type="button" class="btn btn-primary" >
          Add Test Case
        </button>
        <button type="button" class="btn btn-danger" >
          Delete
        </button>
      </div>
      <hr>
      <h4>
        Due Date
      </h4>
      <h5>
        October 25, 2013
      </h5>
      <hr>
      <h4>
        Total Score
      </h4>
      <h5>
        15
      </h5>
      <hr>
      <h4>
        Submissions
      </h4>
      <h5>
        6 - 4
      </h5>
      <hr>
      <h4>
        Available Tries
      </h4>
      <h5>
        3
      </h5>
      </div>
    </div>
  </div>
</div>