<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button ng-click="toggleCourseModal()" type="button" class="btn btn-primary add-button ">
      Create Course
      </button>
    </div>
  
    <div class="col-md-4">
    </div>
    
    <div class="col-md-6">
      <input type="search" ng-model="q" class="form-control" placeholder="Filter Courses">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2>Fall 2013</h2>
      <hr>
      
      <div id="course1" class="well">
        <h3>
          <a href="course-prof.html">Course 1</a> - Course #1
        </h3>
        
        <ul class="nav nav-pills">
          <li id="students-tab">
            <a id="students-link" href="#students">Students <span class="badge">4</span></a>
          </li>
          <li id="assignments-tab">
            <a id="assignments-link" href="#assignments">Assignments <span class="badge">3</span></a>
          </li>
        </ul>
        
        <div id="students" style="display:none">
          <hr>
          <table class="table table-bordered table-hover">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>A1</th>
              <th>A2</th>
              <th>A3</th>
              <th>Grade</th>
            </tr>
          </table>
        </div>

        <div id="assignments" style="display:none">
          <hr>
          <table class="table table-bordered table-hover">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Score</th>
              <th>Test Cases</th>
              <th>Created Date</th>
              <th>Due Date</th>
              <th>Tries</th>
              <th>Submissions</th>
            </tr>
          </table>
        </div>
      </div>

      
    </div>
  </div>

  <div class="modal fade" id="createCourseModal" tabindex="-1" role="dialog" aria-labelledby="createCourseModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalTitle">Create Course</h4>
        </div>
        <div class="modal-body" ng-model="createCourseForm">
          <form ng-submit="postThat(createCourseForm)">

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="courseName">Name</label>
            <input name="courseName" placeholder="Course Name" class="form-control" type="text" ng-model="createCourseForm.courseName">         
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="courseCode">Code</label>
            <input id="courseCode" name="courseCode" placeholder="Course Code (MATE3001)" class="form-control" type="text" ng-model="createCourseForm.courseCode">
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="control-label" for="courseYear">Year</label>
            <select id="courseYear" name="courseYear" class="form-control">
              <option>2014</option>
              <option>2013</option>
              <option>2012</option>
            </select>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="control-label" for="courseSemester">Semester</label>
            <select id="courseSemester" name="courseSemester" class="form-control">
              <option>Fall</option>
              <option>Spring</option>
            </select>
          </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng>Create</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

</div>