<div class="container">

    <div class="row">
    <div class="col-md-9">
      <h2>
        {{course.name}}
      </h2>
      <h4>
        {{course.code}} - {{course.semester}} - {{course.year}}
      </h4>
    </div>
    <div class="col-md-3">
      <br>
      <div class="button-group centered-div">
        <button type="button" class="btn btn-primary">Edit Course</button>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12" ng-repeat="grader in course.graders">
      {{grader.firstName}} {{grader.lastName}} -
      <a href="mailto://{{grader.email}}">{{grader.email}}</a>
      <br>
    </div>
  </div>

  <hr>

  <ul class="nav nav-tabs" style="cursor: pointer">
    <li id="assignments-tab" ng-class="{active: assignmentsTab}">
      <a id="assignments-link" ng-click="showTab('assignmentsTab')">Assignments</a>
    </li>
    <li id="students-tab" ng-class="{active: studentsTab}">
      <a id="students-link" ng-click="showTab('studentsTab')">Students</a>
    </li>
    <li id="submissions-tab" ng-class="{active: submissionsTab}">
      <a id="submissions-link" ng-click="showTab('submissionsTab')">Submissions</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-12">

      <div id="assignments" ng-show="assignmentsTab">
        <!-- Assignments tab content-->

        <br>

        <div class="row">
          <div class="col-md-2">
            <button type="button" ng-click="toggleAssignmentModal()" class="btn btn-primary add-button">
              Create Assignment
            </button>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Filter" ng-model="qa">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <table class="table table-bordered table-hover text-center">
              <tbody>
              <tr>
                <th class="text-center"> Name
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th class="text-center"> Creation Date
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Due Date
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Test Cases
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Total Score
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Submissions
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
              </tr>
              <tr ng-repeat="assignment in course.assignments | filterByAttributes:qa:['name', 'creationDate', 'deadline']">
                <td><a href="/#/p/assignment/{{assignment._id}}">{{assignment.name}}</a></td>
                <td>{{assignment.creationDate}}</td>
                <td>{{assignment.deadline}}</td>
                <td>{{assignment.numOfTestCases}}</td>
                <td>{{assignment.totalScore}}</td>
                <td>{{assignment.numOfSubmissions}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div id="students" ng-show="studentsTab">
        <!-- Students tab content -->

        <br>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Filter">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-refresh"></span>
                </button>
              </span>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">
      
            <table class="table table-bordered table-hover text-center">
              <tbody>
              <tr>
                <th class="text-center"> Student
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th class="text-center" ng-repeat="assignment in course.assignments">
                  A{{$index+1}} - {{assignment.name}}
                </th>
              </tr>
              <tr ng-repeat="user in course.users">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td ng-repeat="assignment in course.assignments">{{assignment.grades[user._id]}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div id="submissions" ng-show="submissionsTab">
        <!-- Submissions tab content -->

        <br>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Filter" ng-model="qsub">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-refresh"></span>
                </button>
              </span>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">
            
            <table class="table table-bordered table-hover text-center">
              <tbody>
              <tr>
                <th class="text-center"> Hash ID
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th class="text-center"> Student
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Assignment
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Date Submitted
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Verdict
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Time
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Score
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
                <th class="text-center"> Test Passed/Tests
                   <span class="glyphicon glyphicon-chevron-up"></span>
                </th>
              </tr>
              <tr ng-repeat="submission in course.submissions">
                <td>---</td>
                <td>{{submission.user.firstName}} {{submission.user.lastName}}</td>
                <td>
                  <a href="/#/p/assignment/{{submission.assignment._id}}">
                  {{submission.assignment.name}}
                  </a>
                </td>
                <td>{{submission.submitDate}}</td>
                <td>{{submission.finalVerdict}}</td>
                <td>250ms</td>
                <td>{{submission.score}}/{{submission.totalScore}}</td>
                <td>{{submission.acceptedTestCases}}/{{submission.totalTestCases}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="createAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="createAssignmentModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalTitle">Create Assignment</h4>
        </div>
        <div class="modal-body">
          <form role="form">

            <!-- Select Basic -->
            <div class="form-group">
              <label class="control-label" for="assignmentCourse">Course</label>
              <div class="controls">
                <select id="assignmentCourse" name="assignmentCourse" class="form-control" disabled>
                  <option>{{course.code}}</option>
                </select>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="assignmentName">Name</label>
              <div class="controls">
                <input class="form-control" id="assignmentName" name="assignmentName" placeholder="Name" required="" type="text" ng-model="newAssignment.name">
                
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="control-label" for="assgnmentDescription">Description</label>
              <div class="controls">                     
                <textarea class="form-control" id="assgnmentDescription" name="assgnmentDescription" placeholder="Description" ng-model="newAssignment.description"></textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="assignmentDeadline">Deadline</label>
              <div class="controls">
                <input class="form-control" id="assignmentDeadline" name="assignmentDeadline" placeholder="DD/MM/YYYY" required="" type="text" ng-model="newAssignment.deadline">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="assgnmentNumOfTries">Tries</label>
              <div class="controls">
                <input class="form-control" id="assgnmentNumOfTries" name="assgnmentNumOfTries" placeholder="1" required="" type="text" ng-model="newAssignment.numOfTries">
                
              </div>
            </div>

            <!-- File Button --> 
            <div class="form-group">
              <label class="control-label" for="assignmentInstructions">Instructions File</label>
              <div class="controls">
                <input id="assignmentInstructions" name="assignmentInstructions" class="input-file" type="file" ng-file-select="onInstructionsFileSelect($files)">
              </div>
            </div>

            <hr>

            <!-- Multiple Checkboxes (inline) -->
            <div class="form-group">
              <div class="controls">
                <label class="checkbox inline" for="singleFileAssig-0">
                  <input name="singleFileAssig" id="singleFileAssig-0" value="Yes" type="checkbox" ng-model="singleAssignment">
                  Single File Assignment?
                </label>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group" ng-show="singleAssignment">
              <label class="control-label" for="assgnmentMainName">Entrance Filename</label>
              <div class="controls">
                <input class="form-control" id="assgnmentMainName" name="assgnmentMainName" placeholder="Main" type="text">
                <p class="help-block">The file of the name to look in the repository.</p>
              </div>
            </div>

            <!-- File Button --> 
            <div class="form-group" ng-hide="singleAssignment">
              <label class="control-label" for="assignmentInitFile">Initial Repository File</label>
              <div class="controls">
                <input id="assignmentInitFile" name="assignmentInitFile" class="input-file" type="file" ng-file-select="onRepoFileSelect($files)">
                <p class="help-block">An archive file defining the initial repository files and folders</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary"
              ng-click="createAssignment(newAssignment)">Create</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
