<div class="container">

    <div class="row">
    <div class="col-md-9">
      <h2>
        {{course.name}}
      </h2>
      <h4>
        {{course.code}} - {{course.semester}} - {{course.year}}
      </h4>
    </div>
    <div class="col-md-3">
      <br>
      <div class="button-group centered-div">
        <button type="button" class="btn btn-primary" ng-click="toggleEditCourseModal()">Edit Course</button>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12" ng-repeat="grader in course.graders">
      {{grader.firstName}} {{grader.lastName}} -
      <a href="mailto://{{grader.email}}">{{grader.email}}</a>
      <br>
    </div>
  </div>

  <hr>

  <ul class="nav nav-tabs" style="cursor: pointer">
    <li id="assignments-tab" ng-class="{active: assignmentsTab}">
      <a id="assignments-link" ng-click="showTab('assignmentsTab')">Assignments</a>
    </li>
    <li id="students-tab" ng-class="{active: studentsTab}">
      <a id="students-link" ng-click="showTab('studentsTab')">Students</a>
    </li>
    <li id="submissions-tab" ng-class="{active: submissionsTab}">
      <a id="submissions-link" ng-click="showTab('submissionsTab')">Submissions</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-12">

      <div id="assignments" ng-show="assignmentsTab">
        <!-- Assignments tab content-->

        <br>

        <div class="row">
          <div class="col-md-2">
            <button type="button" ng-click="toggleAssignmentModal()" class="btn btn-primary add-button">
              Create Assignment
            </button>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Filter" ng-model="qa">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <table class="table table-bordered table-hover text-center">
              <tbody>
              <tr>
            <th class="text-center" ng-click="toggleOrder('name')">
              Name
              <span ng-show="predicate === 'name'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('creationDate')">
              Creation Date
               <span ng-show="predicate === 'creationDate'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('deadline')">
              Due Date
               <span ng-show="predicate === 'deadline'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('numOfTestCases')">
              Test Cases
               <span ng-show="predicate === 'numOfTestCases'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('totalScore')">
              Total Score
               <span ng-show="predicate === 'totalScore'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
            <th class="text-center" ng-click="toggleOrder('numOfSubmissions')">
              Submissions
               <span ng-show="predicate === 'numOfSubmissions'">
                <span class="glyphicon glyphicon-chevron-down" ng-hide='reverseOrder'></span>
                <span class="glyphicon glyphicon-chevron-up" ng-show='reverseOrder'></span>
              </span>
            </th>
          </tr>
              <tr ng-repeat="assignment in course.assignments | filterByAttributes:qa:['name', 'creationDate', 'deadline'] | orderBy:predicate:reverseOrder">
                <td><a href="/#/p/assignment/{{assignment._id}}">{{assignment.name}}</a></td>
                <td>{{assignment.creationDate | filterDateTime}}</td>
                <td>{{assignment.deadline}}</td>
                <td>{{assignment.numOfTestCases}}</td>
                <td>{{assignment.totalScore}}</td>
                <td>{{assignment.numOfSubmissions}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div id="students" ng-show="studentsTab">
        <!-- Students tab content -->

        <br>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Filter" ng-model="qs">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">
      
            <table class="table table-bordered table-hover text-center">
              <tbody>
              <tr>
                <th class="text-center" ng-click="toggleStudentOrder()"> Student
                  <span class="glyphicon glyphicon-chevron-down" ng-hide="studentReverseOrder"></span>
                  <span class="glyphicon glyphicon-chevron-up" ng-show="studentReverseOrder"></span>
                </th>
                <th class="text-center" ng-repeat="assignment in course.assignments">
                  A{{$index+1}} - {{assignment.name}}
                </th>
              </tr>
              <tr ng-repeat="user in course.users | filterByAttributes:qs:['firstName', 'lastName'] | orderBy:['firstName', 'lastName']:studentReverseOrder">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td ng-repeat="assignment in course.assignments">{{assignment.grades[user._id]}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div id="submissions" ng-show="submissionsTab">
        <!-- Submissions tab content -->

        <br>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Filter" ng-model="qsub">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">
            
            <table class="table table-bordered table-hover text-center">
              <tbody>
              <tr>
                <th class="text-center">
                  Source
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('student')"> Student
                     <span ng-show="submissionPredicate === 'student'">
                      <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                      <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                    </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('assignment')"> Assignment
                     <span ng-show="submissionPredicate === 'assignment'">
                      <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                      <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                    </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('submissionDate')"> Date Submitted
                     <span ng-show="submissionPredicate === 'submissionDate'">
                      <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                      <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                    </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('verdict')"> Verdict
                     <span ng-show="submissionPredicate === 'verdict'">
                      <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                      <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                    </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('time')"> Time
                     <span ng-show="submissionPredicate === 'time'">
                      <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                      <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                    </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('score')"> Score
                     <span ng-show="submissionPredicate === 'score'">
                      <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                      <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                    </span>
                </th>
                <th class="text-center" ng-click="toggleSubmissionOrder('tests')"> Test Passed/Tests
                     <span ng-show="submissionPredicate === 'tests'">
                      <span class="glyphicon glyphicon-chevron-up" ng-show="submissionReverseOrder"></span>
                      <span class="glyphicon glyphicon-chevron-down" ng-hide="submissionReverseOrder"></span>
                    </span>
                </th>
              </tr>
              <!-- TODO(samuel): filterByAttributes when we get the submissions
              right -->
              <tr ng-repeat="submission in course.submissions | orderBy:submissionPredicate:submissionReverseOrder">
                <td><button class="btn btn-link" ng-click="showRepository(submission.repo.id)"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                <td>{{submission.user.firstName}} {{submission.user.lastName}}</td>
                <td>
                  <a href="/#/p/assignment/{{submission.assignment._id}}">
                  {{submission.assignment.name}}
                  </a>
                </td>
                <td>{{submission.submitDate | filterDateTime}}</td>
                <td>{{submission.finalVerdict}}</td>
                <td>{{submission.elapsedTime}}</td>
                <td>{{submission.score}}/{{submission.totalScore}}</td>
                <td>{{submission.acceptedTestCases}}/{{submission.totalTestCases}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>

  <ng-include src="'createAssignmentModalTemplateCourse'"></ng-include>
  <ng-include src="'genericErrorModalTemplate'"></ng-include>

  <div class="modal fade" id="editCourseModal" tabindex="-1" role="dialog" aria-labelledby="editCourseModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalTitle">Edit Course</h4>
        </div>
        <div class="modal-body" ng-model="editCourseForm">
          <form>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="courseName">Name</label>
            <input name="courseName" placeholder="Course Name" class="form-control" type="text" ng-model="course.name">         
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="courseCode">Code</label>
            <input id="courseCode" name="courseCode" placeholder="Course Code (MATE3001)" class="form-control" type="text" ng-model="course.code">
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="control-label" for="courseYear">Year</label>
            <select id="courseYear" name="courseYear" class="form-control" ng-model="course.year">
              <option>2014</option>
              <option>2013</option>
              <option>2012</option>
            </select>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="control-label" for="courseSemester">Semester</label>
            <select id="courseSemester" name="courseSemester" class="form-control" ng-model="course.semester">
              <option>Fall</option>
              <option>Spring</option>
              <option>Summer</option>
            </select>
          </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="editCourse()">Save Changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>

<div id="repositoryModal" class="modal fade">
  <div class="modal-dialog" style="width: 60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Source Code Viewer</h4>
      </div>
      <div class="modal-body">
        <ng-include src="'sourceCodeViewerTemplate'"></ng-include>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hideRepositoryModal()">Done</button>
      </div>
    </div>
  </div>
</div>
