<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center"><a href="/#/p/courses/">Courses</a></h3>
        </div>
        <div class="panel-body text-center">
          <button ng-click="toggleCourseModal()" type="button" class="btn btn-primary">
            Create Course
          </button>
          <br>
          <br>
          <input type="search" ng-model="q" class="form-control" placeholder="Filter Courses">
          <br>
          <table class="table table-striped table-hover table-condensed text-left">
            <tr>
              <th>Code</th>
              <th>Session</th>
              <th>Name</th>
            </tr>
            <tr ng-repeat="course in user.courses | filterByAttributes:q:['code', 'name', 'semester', 'year'] | orderBy:'code'">
              <td><a href="/#/p/course/{{course._id}}">{{course.code}}</a></td>
              <td>{{course.year}} - {{course.semester}}</td>
              <td><a href="/#/p/course/{{course._id}}">{{course.name}}</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center"><a href="/#/p/assignments/">Assignments</a></h3>
        </div>
        <div class="panel-body text-center">
          <button ng-click="toggleAssignmentModal()" type="button" class="btn btn-primary">
            Create Assignment
          </button>
          <br>
          <br>
          <input type="search" ng-model="qa" class="form-control" placeholder="Filter Assignments">
          <br>
          <table class="table table-striped table-hover table-condensed text-left">
            <tr>
              <th>Course</th>
              <th>Name</th>
            </tr>
            <tr ng-repeat="assignment in user.assignments | filterByAttributes:qa:['name', 'courseCode'] | orderBy:'creationDate':true">
              <td><a href="/#/p/course/{{assignment.Course}}">{{assignment.courseCode}}</a></td>
              <td><a href="/#/p/assignment/{{assignment._id}}">{{assignment.name}}</a></td>
            </tr>
          </table>
          <hr>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center"><a href="/#/p/submissions/">Submissions</a></h3>
        </div>
        <div class="panel-body text-center">
          <h4 class="text-center" ng-repeat="submission in user.submissions">
            {{submission.hashId}}
          </h4>
        </div>
      </div>
    </div> -->
  </div>

  <ng-include src="'createCourseModalTemplate'"></ng-include>
  <ng-include src="'createAssignmentModalTemplate'"></ng-include>
  <ng-include src="'genericErrorModalTemplate'"></ng-include>

</div>
