<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="assignment1" class="container well">
      <h1>
          Submissions
        </h1>
        <hr>

        <div class="row">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-refresh"></span></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
</div><!-- /.row -->
<br>
        <table class="table table-bordered table-hover text-center">
          <tbody>
          <tr>
          <th class="text-center">
            Hash ID
            <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th class="text-center">
            Student
             <span class="glyphicon glyphicon-chevron-up"></span>
          </th>
          <th class="text-center">
            Course
            <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th class="text-center">
            Assignment
             <span class="glyphicon glyphicon-chevron-up"></span>
          </th>
          <th class="text-center">
            Date Submitted
             <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th class="text-center">
            Verdict
             <span class="glyphicon glyphicon-chevron-up"></span>
          </th>
          <th class="text-center">
            Time
             <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th class="text-center">
            Memory
             <span class="glyphicon glyphicon-chevron-up"></span>
          </th>
          <th class="text-center">
            Score
             <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th class="text-center">
            Test Passed/Tests
             <span class="glyphicon glyphicon-chevron-up"></span>
          </th>
          </tr>
            <tr>
                  <td>
                    de12873940ffg
                  </td>
                  <td>
                    Nelian Colon
                  </td>
                  <td>
                  Course 1
                  </td>
                  <td>
                  Assignment 1
                  </td>
                  <td>
                    Oct 25, 2013; 4:25pm
                  </td>
                  <td>
                    ACCEPTED
                  </td>
                  <td>
                    250ms
                  </td>
                  <td>
                  9001kB
                  </td>
                  <td>
                  50
                  </td>
                  <td>
                  3/6
                  </td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>