<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Panda Code Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/home.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="./js/home.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#navbar-container').load('/navbar.html', function() {
          $('#bar-home').addClass('active');
        });
      });
    </script>
  </head>
  <body>

    <div id="navbar-container"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="affix-container" ng-controller="AffixController">
            <button type="button" data-toggle="modal" href="#add-course-modal" class="btn btn-primary add-button">
              Add Course
            </button>
            <hr>
            <ul class="list-group sidebar">
              <li class="list-group-item" ng-repeat="course in courses">
                <a href="#course1">{{$index + 1}}. {{course.name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9" ng-controller="CourseInfoController">
          <div id="separator" ng-repeat="course in courses">
            <div id="course1" class="container well">
              <h3>
                <a href="course.html">{{course.name}}</a>
              </h3>
              <h5>
                Course #1 - Semester - Year
              </h5>
              <br>
              <table class="table table-bordered table-hover">
                <tbody>
                  <tr>
                    <th colspan="2">
                      Pending Assignments
                    </th>
                  </tr>
                  <tr ng-repeat="assignment in course.assignments">
                    <td>
                      <a href="assignment.html">{{assignment.name}}</a>
                    </td>
                    <td>
                      Due: {{assignment.dueDate}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div id="add-course-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Course</h4>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" placeholder="Course Name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>